* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #000eff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* caixa principal cor branco */

.container {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;
    overflow: hidden;
}

/* navegaçao */

.container .header {
    padding: 20px 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.container .header img {
    width: 80px;
    margin-right: 20px;
}

.container .header .nav .ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .header .nav .ul li {
    padding: 10px;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: 500;
}

.container .header .nav .ul li:hover {
    border-bottom: 2px solid #000eff;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* conteudo caixa left */

h2 {
    font-size: 54px;
}

h3 {
    font-size: 40px;
    color: #707070;
    font-weight: 100;
    margin: 25px 0;
}

.caixa0 {
    position: absolute;
    background-color: rgba(246, 4, 46, 1);
    height: 400px;
    width: 10px;
    margin-left: 20px;
    border-radius: 50px;
}
.caixa1 {
    margin-left: 20px;
    position: relative;
    left: 25px;
    top: 30px;
}
.caixa1 p {
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    margin: 30px 0;
}

h4 {
    font-size: 30px;
    color: #000;
    margin: 30px 0;
}

.buy {
    width: 150px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    background-color: rgba(246, 4, 46, 1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 19px;
}

/* conteudo caixa right */

.caixa2 {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0;
}

.img-caixa2 {
    width: 90%;
    z-index: 2;
    animation: img 2s infinite alternate ease-in-out;
}

.elemento {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 14, 255, 1);
    height: 100%;
    width: 60%;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    z-index: 1;
    box-shadow: 0 0 25px black;
}

button {
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-button {
    width: 50px;
    height: 50px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.social img {
    height: 30px;
    margin: 30px;
    cursor: pointer;
}

@keyframes img {
    from {
        transform: translate(-5%, -10%) rotate(-5deg);
    }
}

@media (max-width: 1000px) {
    body {
        background-color: white;
    }

    .container .header {
        margin-bottom: 0px;
    }
    .container {
        width: 95%;
    }
    .main {
        flex-direction: column-reverse;
        margin-top: 100px;
        text-align: left;
    }

    .caixa1 {
        width: 100%;
        margin-top: 50px;
    }

    .img-caixa2 {
        width: 70%;
    }

    .caixa0 {
        display: none;
    }
}

@media (max-width: 780px) {
    .header {
        flex-direction: column;
    }

    .container .header img {
        width: 95px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ul li {
        background-color: #d6d6d6;
        border-radius: 5px;
        margin-top: 20px;
    }

    .elemento {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 0 0 10px black;
    }
}

@media (max-width: 700px) {
    .caixa1 h3 {
        font-size: 30px;
    }
    .caixa1 h2 {
        font-size: 40px;
    }
    .caixa1 {
        margin-top: 20px;
    }
    .elemento {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    @keyframes img {
        from {
            transform: translate(-10%, -10%) rotate(-5deg);
        }
    }
}

@media (max-width: 600px) {
}

@media (max-width: 410px) {
    .caixa1 h3 {
        font-size: 25px;
    }

    .caixa1 h2 {
        max-width: 200px;
        display: inline-block;
    }

    .elemento {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 0 5px black;
    }
}
